.add-country-modal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0px 25px;
}
.modal-custom {
  height: 400px;
  width: 400px;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: white;
  font-size: 18px;
}
.modal-custom h2 {
  color: white;
  text-align: center;
  margin: 10px auto;
  font-size: 22px;
}
.input-text {
  margin-top: 10px;
}
.title-bar {
  width: 100%;
  background: #3f4394;
  padding: 0;
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.close-btn {
  color: white;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.add-country-btn {
  color: white;
  background: #3f4394;
  width: 250px;
  height: 50px;
  margin: 20px auto;
  border: none;
  border-radius: 25px;
}
.file-upload {
  margin: 10px auto;
}
.text-error {
  color: red;
}
.success-text {
  color: green;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}
