.countries {
  min-height: 100vh;
  position: relative;
}
.add-btn {
  font-size: 18px;
  margin-bottom: 50px;
  background: #3f4394;
  width: 150px;
  height: 50px;
  color: white;
  font-weight: bold;
  border-radius: 15px;
}
.view-city-btn {
  color: white;
  font-weight: bold;
  background: #3f4394;
  border: none;
  height: 35px;
  width: 75px;
  border-radius: 5px;
}
.view-city-btn:hover {
  background: #4ab9b1;
  color: white;
}
.flag-img {
  margin: auto auto;
}
.tab-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 25px auto;
}
.tab {
  font-size: 22px;
  font-weight: bold;
  color: black;
  width: 200px;
  height: 50px;
}
.input-text {
  width: 50%;
  margin: 5px;
}
.active-tab {
  font-size: 22px;
  background: #3f4394;
  color: white;
  border-radius: 10px;
  width: 200px;
  height: 50px;
}
@media screen and (max-width: 1000px) {
  .input-text {
    width: 80%;
  }
  .tab {
    font-size: 14px;
    font-weight: bold;
    color: black;
    width: 150px;
    height: 50px;
  }
  .active-tab {
    font-size: 14px;
  }
}
