.tab-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 25px auto;
}
.tab {
  font-size: 22px;
  font-weight: bold;
  color: black;
  width: 200px;
  height: 50px;
}
.input-text {
  width: 50%;
  margin: 5px;
}
.active-tab {
  font-size: 22px;
  background: #3f4394;
  color: white;
  border-radius: 10px;
  width: 200px;
  height: 50px;
}
.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.personal-info-profile-img-con {
  position: relative;
  margin: 50px auto;
}
.admin-profile-img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.edit-btn-profile-img {
  position: absolute;
  top: 0;
  font-size: 20px;
  cursor: pointer;
}
.active-admin-status {
  width: 200px;
  height: 40px;
  background: #72ff72;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.active-admin-status p {
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin: auto auto;
}
.non-active-admin-status {
  width: 200px;
  height: 40px;
  display: flex;
  border-radius: 10px;
  background: #fa6d6d;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.non-active-admin-status p {
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin: auto auto;
}
.change-password-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .input-text {
    width: 80%;
  }
  .tab {
    font-size: 14px;
    font-weight: bold;
    color: black;
    width: 150px;
    height: 50px;
  }
  .active-tab {
    font-size: 14px;
  }
}
