.create-department-btn {
  color: #fff;
  background: #3f4394;
  font-size: 18px;
  text-align: center;
  height: 50px;
  width: 150px;
  border-radius: 15px;
  border: none;
}
.create-department-btn:hover {
  background: #4ab9b1;
}
.add-department-con {
  position: relative;
  width: 20%;
}
.add-department-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  background: white;
  height: 200px;
  width: 250px;
  position: absolute;
  z-index: 100;
}
.input-text {
  width: 90%;
}

@media only screen and (max-width: 700px) {
  .add-department-con {
    width: 80%;
  }
}
