.slide-row {
  border: 1px solid #d3d3d3;
  margin: 10px auto;
  border-radius: 15px;
}

.slide-row-img {
  height: 75px;
  width: 75px;
  margin: auto auto;
}

.slide-row-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide-row-con-title {
  font-size: 14px;
}

.custom-btn {
  height: 40px;
  width: 100px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin: 5px auto;
  border: none;
}

.edit-btn {
  background-color: #24a0ed;
}
