.input-text {
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  padding: 10px;
}

.table {
  font-size: 18px;
}

.prim-btn {
  color: #fff;
  background: #3f4394;
  height: 40px;
  width: 150px;
  border-radius: 15px;
  border: none;
  margin: auto auto;
  font-size: 18px;
  text-align: center;
}

.prim-btn:hover {
  background-color: #4ab9b1;
}
